<!DOCTYPE html>
<html class="no-js" lang="vi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ site.description }}">
  <title>{% if page.kanji %}{{ page.kanji}} - {{ page.keyword }} - {% endif %}{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <link href="{% if page.type != 'index' %}../{% endif %}assets/img/favicon.ico" rel="icon">
  <link href="{% if page.type != 'index' %}../{% endif %}assets/css/style.css" media="screen, projection" rel="stylesheet" type="text/css">
</head>

<body>
	<div role="main" class="main">
			
	  {{ content }}

  </div>
  <div id="foot">
    <p>@ {{ site.time | date: "%Y" }} <a href="http://manhtai.github.io">Mạnh Tài</a></p>
  </div>

</body>
</html>
