---
layout: default
---

<h1>
<a href="../">{{ page.kanji }}</a>
</h1>

<hr />

<h1>
<span class="left-arrow">
  <a href="../{% if page.prev != 0 %}{{ page.prev }}{% endif %}">&larr;</a>
</span>
<span class="right-arrow">
  <a href="../{% if page.next != 2201 %}{{ page.next }}{% endif %}">&rarr;</a>
</span>
</h1>

<h2><code title="Frame number V4: {{ page.v4 }}, V6: {{ page.v6 }}">{{ page.keyword }}</code></h2>

<div class="stroke"><img title="{{ page.strokes }} stroke{% if page.strokes != 1 %}s{% endif %}" src="../strokes/{{ page.image }}.png" /></div>

<h2>Reading:</h2>

<h3>On-Yomi: <a>{{ page.on-yomi }}</a> {% if page.kun-yomi %}— Kun-Yomi: <a>{{ page.kun-yomi }}</a>{% endif %}</h3>

{% if page.heisig %}
	<h2>Heisig story:</h2>
	<p>{{ page.heisig }}</p>

	{% if page.primit %}
		<h2>Primitive:</h2>
		<p>{{ page.primit }}</p>
	{% endif %}

{% endif %}


<h2>Koohii stories:</h2>
{{ content }}

<hr>
<nav class="pagination" role="navigation">
<a href="../{% if page.prev != 0 %}{{ page.prev }}{% endif %}" class="btn btn-blue">&laquo;</a>
<a class="btn btn-blue" href="../">/</a>
<a class="btn btn-blue" href="../full-list">rtk1-v6</a>
<a href="../{% if page.next != 2201 %}{{ page.next }}{% endif %}" class="btn btn-blue">&raquo;</a>
</nav>
