---
layout: default
---

<h1>
<a href="../index.html">{{ page.kanji }}</a>
</h1>

<hr />

<h2><code title="Frame number V4: {{ page.v4 }}">{{ page.keyword }}</code></h2>

<input id="kanji" value="{{ page.kanji }}" type="hidden">
<div id="kanjiViewer"></div>


{% if page.on-yomi %}
<h3>On-Yomi: <a>{{ page.on-yomi }}</a></h3>
{% endif %}

{{ content }}

<hr>
<nav class="pagination" role="navigation">
<a class="btn btn-blue" href="../index.html">/</a>
<a class="btn btn-blue" href="../rtk3-remain/index.html">rtk3-remain</a>
</nav>

<script type="text/javascript" src="../assets/js/jquery.min.js"></script> 
<script type="text/javascript" src="../assets/js/raphael-min.js"></script>
<script type="text/javascript" src="../assets/js/kanjiviewer.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        function urldecode(str) {
            return decodeURIComponent((str + '').replace(/\+/g, '%20'));
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = urldecode(hash[1]);
            }
            return vars;
        }

        var kanji = getUrlVars()["kanji"];
        if (kanji == null) {
            kanji = jQuery('#kanji').val();
        } else {
            jQuery('#kanji').val(kanji);
        }
        KanjiViewer.initialize(
                "kanjiViewer",
                3,
                5,
                100,
                true,
                false,
                kanji
        ); 
        jQuery('#kanjiViewerParams').submit(function () {
            5;
            100;
            3;
            true;
            false;
            KanjiViewer.setKanji(jQuery('#kanji').val());
            KanjiViewer.refreshKanji();
            return false;
        });
    });
</script>
