---
layout: default
---

<h1>
<a href="../index.html">{{ page.kanji }}</a>
</h1>

<hr />

<h1>
<span class="left-arrow">
  <a href="../{% if page.prev != "" %}{{ page.prev }}/index.html{% endif %}">&larr;</a>
</span>
<span class="right-arrow">
  <a href="../{% if page.next != "" %}{{ page.next }}/index.html{% endif %}">&rarr;</a>
</span>
</h1>

<h2><code title="Frame number V4: {{ page.v4 }}, V6: {{ page.v6 }}">{{ page.keyword }}</code></h2>

<div id="kanjiViewer">
  <div id="draw"></div>
  <div id="sample-btn">
    <button id="p">‹</button>
    <button id="s">■</button>
    <button id="g">▶</button>
    <button id="n">›</button>
    <button id="r">✕</button>
  </div>
</div>

<h3>On-Yomi: <a>{{ page.on-yomi }}</a> {% if page.kun-yomi %}— Kun-Yomi: <a>{{ page.kun-yomi }}</a>{% endif %}</h3>


	{% if page.primit %}
    <h2>Primitive:</h2>
    <p>{{ page.primit }}</p>
	{% endif %}

  {% if page.heisig %}	
    <h2>Heisig story:</h2>
    <p>{{ page.heisig }}</p>
  {% endif %}
  
  {% if page.commen %}	
    <h2>Heisig comment:</h2>
    <p>{{ page.commen }}</p>
  {% endif %}


<h2>Koohii stories:</h2>
{{ content }}

<hr>
<nav class="pagination" role="navigation">
<a href="../{% if page.prev != "" %}{{ page.prev }}/index.html{% endif %}" class="btn btn-blue">&laquo;</a>
<a class="btn btn-blue" href="../index.html">/</a>
<a class="btn btn-blue" href="../rtk1-v6/index.html">rtk1-v6</a>
<a href="../{% if page.next != "" %}{{ page.next }}/index.html{% endif %}" class="btn btn-blue">&raquo;</a>
</nav>



