---
layout: default
---

<h1>
<a href="../index.html">{{ page.kanji }}</a>
</h1>

<hr />

<h2><code title="Frame number V4: {{ page.v4 }}">{{ page.keyword }}</code></h2>

<div id="kanjiViewer">
  <div id="draw"></div>
  <div id="sample-btn">
    <button id="p">‹</button>
    <button id="s">■</button>
    <button id="g">▶</button>
    <button id="n">›</button>
    <button id="r">✕</button>
  </div>
</div>

{% if page.on-yomi %}
<h3>On-Yomi: <a>{{ page.on-yomi }}</a></h3>
{% endif %}

{{ content }}

<hr>
<nav class="pagination" role="navigation">
<a class="btn btn-blue" href="../index.html">/</a>
<a class="btn btn-blue" href="../rtk3-remain/index.html">rtk3-remain</a>
</nav>

